<html lang="en" class="">

<head>

  <meta charset="UTF-8">
  <title>Abedejos Activity 5</title>
  <link rel="icon" type="image/png" href="img/logo.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="./js/vue.js"></script>




  <link rel="stylesheet" href="./css/mystyle.css">


</head>

<body>
  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <img src="img/logo.png">
      <h2>MUSIKA</h2>
    </header>
    <ul>
      <li tabindex="0" id="myBtn" class="icon-upload"><span>Upload Music</span></li>
      <li tabindex="0" class="icon-allSongs"><span>All songs</span></li>
      <li tabindex="0" id="myBtn2" class="icon-createPlaylist"><span>Create Playlist</span></li>
      <li tabindex="0">
        <ul>
          <li tabindex="0" class="icon-bullet"><span>Playlist 1</span></li>
          <li tabindex="0" class="icon-bullet"><span>Playlist 2</span></li>
          <li tabindex="0" class="icon-bullet"><span>Playlist 3</span></li>

        </ul>
      </li>
    </ul>
  </nav>

  <main>
    <div class="myDiv" id="app">
      <input type="text" id="search" name="search" value="Search for songs, artist, etc...">
      <h2 class="allSongsLabel">All songs</h2>
      <table class="myTable" border="1" style="border-collapse: collapse; border: 1px solid black;">
        <thead>
          <tr>
            <td style="width: 500px;">
              Title
            </td>
            <td style="width: 500px;">
              Artist
            </td>
            <td style="width: 500px;">
              Album
            </td>
            <td style="width: 500px;">
              Duration
            </td>
          </tr>

        </thead>

        <tbody>
          <tr v-for="song in songs">
            <td style="width: 900px;">
              <img src="img/triangle.png" /> {{song.title}}
            </td>
            <td>
              {{song.artist}}
            </td>
            <td>
              {{song.album}}
            </td>
            <td>
              {{song.duration}}
            </td>
          </tr>
         

        </tbody>

      </table>
      <div class="progress">
        <div class="played">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div>
      <table style="margin: 0 auto; margin-top: 40px;">

        <tr>

          <td>
            <button class="btn"><i class="fa fa-backward"></i></button>
          </td>
          <td style="padding: 10px;">
            <button class="btn"><i class="fa fa-play"></i></button>
          </td>
          <td>
            <button class="btn"><i class="fa fa-forward"></i></button>
          </td>
        </tr>
      </table>


    </div>
  </main>

  <div id="myModal" class="modal">


    <div class="modal-content">
      <span class="close">&times;</span>
      <div style="height: 50px; width: 500px; background-color: #4E0746;"><span
          style="float:left;font-size: 18px; margin-top: 10px; margin-left: 10px;">Upload Music</span></div>

      <div
        style="height: 80px; width: 400px; background-color: #b9b4b4; margin: 0 auto; border-radius: 10px; margin-top: 10px">
        <span style="float:left;font-size: 18px; margin-top: 30px; margin-left: 60px; color:gray">Drag and drop files
          here.</span>
      </div>
      <div style="width: 200px; margin-top: 10px; float: right;">
        <button class="button" onclick="close()">Upload</button>
        <button class="button button_cancel" onclick="close()">Cancel</button>
      </div>

    </div>

  </div>

  <div id="myModal2" class="modal">

    <div class="modal-content">
      <span class="close2">&times;</span>
      <div style="height: 50px; width: 500px; background-color: #4E0746;"><span
          style="float:left;font-size: 18px; margin-top: 10px; margin-left: 10px;">Create Playlist</span></div>

      <div style="height: 80px; width: 400px; margin: 0 auto; border-radius: 10px; margin-top: 10px">
        <input type="text" id="create_playlist" />
      </div>
      <div style="width: 200px; margin-top: 10px; float: right;">
        <button class="button" onclick="close()">Upload</button>
        <button class="button button_cancel" onclick="close()">Cancel</button>
      </div>

    </div>

  </div>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the modal
    var modal2 = document.getElementById("myModal2");


    var btn = document.getElementById("myBtn");
    var btn2 = document.getElementById("myBtn2");

    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("close2")[0];

    btn.onclick = function () {
      modal.style.display = "block";
    }
    btn2.onclick = function () {
      modal2.style.display = "block";
    }

    span.onclick = function () {
      modal.style.display = "none";

    }
    span2.onclick = function () {
      modal2.style.display = "none";

    }

    function close() {
      modal.style.display = "none";
    }

    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";

      }
      else if (event.target == modal2) {
        modal2.style.display = "none";
      }
    }


    new Vue({
      el: '#app',
      data: {
        songs: [
          {title : "Song title 1", artist: "Artist name 1", album: "Album name 1", duration: "03:42"},
          {title : "Song title 2", artist: "Artist name 2", album: "Album name 2", duration: "03:12"},
          {title : "Song title 3", artist: "Artist name 3", album: "Album name 3", duration: "03:26"},
          {title : "Song title 4", artist: "Artist name 4", album: "Album name 4", duration: "03:13"},
          {title : "Song title 5", artist: "Artist name 5", album: "Album name 5", duration: "03:36"}
        ]
      }
    });
  </script>
</body>

</html>