.argieAbedejos__Swpn2 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
}
.home__xCSh0{
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
}
#content{
    position: relative;
}
.fb1__GdBrE_left{
    position: absolute;
    left: -50px;
}

.about__Vexq3{
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 0.4);
}
.flexWrapperOne__BFlsL{
    background-color: rgba(255, 174, 0, 1);
    border-radius: 50px;
    padding: 7px 31px 12px 30px;
}
.contact__VfkL6{
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
}
.helloImArgieAbedejos__7P2MU {
    font-family: "IBM Plex Sans";
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }
  .softwareDeveloper__sVBEY {
    /* font-family: "IBM Plex Mono"; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: normal;
    color: rgba(7, 214, 195, 1);
    margin-top: -50px;
  }
  .iSpecializedInDevelopingDataManagem__072fn {
    height: 216px;
    width: 100%;
    font-family: "IBM Plex Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 0.52);
    display: flex;
    text-align: justify;
    margin-top: -40px;
  }
  #intro{
      width: 100%;
      margin-left: 50px;
      margin-top: 80px;
  }
.fb1__GdBrE_argie {
    height: 510;
    margin-left: 50px;
  } 
  .flexWrapperTwelve__CG7Pf {
    margin-left: 0px;
    display: flex;
    align-items: flex-start;
  }
  .flexWrapperTwo__mBDh3 {
    background-color: rgba(0, 0, 0, 1);
    margin-right: 15px;
    border-radius: 50px;
    padding: 5px 21px 6px;
    display: flex;
    align-items: center;
  }
  .downloadCv__TIDjh {
    font-family: "IBM Plex Sans";
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    color: rgba(7, 214, 195, 1);
    text-align: justify;
  }
  .flexWrapperThree__cJYPN {
    background-color: rgba(7, 214, 195, 1);
    border-radius: 50px;
    padding: 5px 55px 6px 45px;
    display: flex;
    align-items: center;
  }
  .emailMe__tr2QB {
    font-family: "IBM Plex Sans";
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    text-align: justify;
  }

  .column {
    float: left;
    width: 50%;
  }



.column_last {
    float: left;
    width: 30%;
    padding: 10px;
  }

  #last_content{
      margin-top: 600px;
  }

  
  .row_last:after {
    content: "";
    display: table;
     clear: both;
  }
  .flexWrapperFour__FD0TG {
    background-color: rgba(196, 196, 196, 0.51);
    padding: 9px 10px 10px 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  .flexWrapperSix__e6h8q {
    background-color: rgba(196, 196, 196, 0.51);
    padding: 9px 10px 10px 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  .flexWrapperEight__0DCmH {
    background-color: rgba(196, 196, 196, 0.51);
    padding: 9px 10px 10px 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  .flexWrapperThirteen__KGfXo {
    margin-bottom: 6px;
    display: flex;
    align-items: flex-start;
  }
  .flexWrapperFive__REz3b {
    background-color: rgba(7, 214, 195, 1);
    margin-right: 14px;
    border-radius: 50%;
    padding: 10px 7px 10px 6px;
    display: flex;
    align-items: center;
  }

  .webDeveloper__HBLMw {
    font-family: "IBM Plex Sans";
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    text-align: justify;
  }

  .loremIpsumDolorSitAmetConsectetur__BZKRB {
    height: 78px;
    width: 241px;
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    text-align: justify;
    margin-left: 56px;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    #intro{
        width: 100%;
    }
    .column_last {
        width: 100% !important;
      }
      .flexWrapperFour__FD0TG{
          padding-left: 450px;
      }
      .fb1__GdBrE_argie{
          margin-left: 300px;
      }
  }